.button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #050505;
  cursor: pointer;
}

@media (min-width: 768px) {
  .button {
    width: 38px;
    height: 38px;
  }
}

.button input {
  display: none;
}

.button .icon {
  display: block;
  width: 16px;
  height: 16px;
  stroke: #ffffff;
  transition: transform 0.3s ease-in-out;
}

.button:hover .icon,
.button:focus .icon {
  transform: scale(1.2);
}
