.mainTitle {
  font-family: var(--font-family-base);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-extrabold);
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0;
  color: var(--color-black);
  line-height: 44px;
  letter-spacing: -0.02em;
}

.subtitle {
  font-family: var(--font-family-base);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: 24px;
  color: var(--color-dark);
  margin-top: 0;
  margin-bottom: 40px;
  letter-spacing: -0.02em;
}
