.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: fit-content;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid rgba(5, 5, 5, 0.1);
}

.button:hover,
.button:focus {
  background-color: #050505;
}

@media (min-width: 768px) {
  .button {
    padding: 12px;
  }
}

.button .icon {
  width: 16px;
  height: 16px;
  fill: #ffffff;
  stroke: #050505;
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .button .icon {
    width: 18px;
    height: 18px;
  }
}

.button:hover .icon,
.button:focus .icon {
  fill: #050505;
  stroke: #ffffff;
  transform: scale(1.2);
}

.button:disabled {
  background-color: rgba(5, 5, 5, 0.2);
  color: rgba(255, 255, 255, 0.4);
  cursor: not-allowed;
}
