.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.breadcrumbs {
  display: flex;
  gap: 8px;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  color: var(--color-gray);
  margin-bottom: 40px;
}

.link,
.separator {
  color: var(--color-gray);
}

.current {
  color: var(--color-black);
}

.title {
  font-family: var(--font-family-base);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-extrabold);
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--color-black);
  line-height: 44px;
  letter-spacing: -0.02em;
}

.subtitle {
  font-family: var(--font-family-base);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: 24px;
  color: var(--color-dark);
  margin-bottom: 40px;
  letter-spacing: -0.02em;
}

.formContainer {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.leftCol {
  flex: 1;
}

.rightCol {
  flex: 1;
  max-width: 649px;
  width: 100%;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 443px;
}

.form {
  display: flex;
  flex-direction: column;
}

.sectionLabel {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-extrabold);
  font-size: var(--font-size-lg);
  line-height: 28px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-gray);
}

.fieldLabel {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-extrabold);
  font-size: var(--font-size-md);
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-black);
  margin-bottom: 16px;
}

.error {
  font-family: var(--font-family-base);
  font-size: var(--font-size-sm);
  color: var(--color-error);
  margin-top: -30px;
  margin-bottom: 16px;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 60px;
}

.cookingTimeField {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 60px;
}

.button {
  background-color: var(--color-black);
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  padding: 14px 0;
  cursor: pointer;
}

.dropdownArea {
  max-width: 330px;
}

.textInputTitle {
  margin-bottom: 60px;
}

.noMargin {
  margin-bottom: 0;
}
